<div class="all">
  <section class="menu">
      <h1 class="menu-title">Menu du Vendredi</h1>
      <ul class="menu-list">
        <li class="menu-item">
          <h2 class="menu-item-title">Burger Steakhouse</h2>
          <p class="menu-item-description">Juteux steak haché garni de fromage cheddar, d'oignons caramélisés et de bacon.</p>
        </li>
        <li class="menu-item">
          <h2 class="menu-item-title">Pâtes Scampi aux Crevettes</h2>
          <p class="menu-item-description">Crevettes tendres sautées dans une sauce au beurre à l'ail, servies sur des pâtes linguine.</p>
        </li>
        <li class="menu-item">
          <h2 class="menu-item-title">Pizza Margherita</h2>
          <p class="menu-item-description">Pizza classique garnie de tomates fraîches, de mozzarella, de basilic et d'un filet d'huile d'olive.</p>
        </li>
      </ul>
    </section>
</div>
