<div class="all">
  <main class="container">
      <section class="menu">
        <h1 class="menu-title">Menu du Mercredi</h1>
        <ul class="menu-list">
          <li class="menu-item">
            <h2 class="menu-item-title">Côtes de Porc BBQ</h2>
            <p class="menu-item-description">Côtes de porc mijotées à la sauce barbecue piquante, servies avec de la salade de chou et du pain de maïs.</p>
          </li>
          <li class="menu-item">
            <h2 class="menu-item-title">Risotto aux Champignons</h2>
            <p class="menu-item-description">Risotto crémeux avec un mélange de champignons sautés, garni de fromage Parmesan.</p>
          </li>
          <li class="menu-item">
            <h2 class="menu-item-title">Lasagne aux Légumes</h2>
            <p class="menu-item-description">Pâtes en couches avec du fromage ricotta, des épinards, des courgettes et de la sauce marinara.</p>
          </li>
        </ul>
      </section>
    </main>
    
</div>
