<div class="all">
  <section class="menu">
      <h1 class="menu-title">Menu du Lundi</h1>
      <ul class="menu-list">
        <li class="menu-item">
          <h2 class="menu-item-title">Burrito au Petit-Déjeuner</h2>
          <p class="menu-item-description">Œufs brouillés, haricots noirs, fromage et salsa enveloppés dans une tortilla.</p>
        </li>
        <li class="menu-item">
          <h2 class="menu-item-title">Saumon Grillé</h2>
          <p class="menu-item-description">Saumon fraîchement grillé servi avec une sauce au beurre citronné et des légumes sautés.</p>
        </li>
        <li class="menu-item">
          <h2 class="menu-item-title">Sauté de Légumes Végétarien</h2>
          <p class="menu-item-description">Mélange coloré de légumes sautés avec du tofu dans une sauce savoureuse.</p>
        </li>

      </ul>
    </section>
</div>